@font-face {
    font-family: 'Ambit';
    src: url('../fonts/Ambit/Ambit-Black.ttf');
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-FREE/Gilroy-FREE/Gilroy-Medium.ttf');
}

* {
    margin: 0%;
    padding: 0%;
}

body, html {
    text-rendering: optimizeLegibility;
    font-size: 10px;
    color: #222;
    font-family: 'Gilroy';
    background-color: #f5f4f1;
    background-image: url('../images/homepage/body-bg.webp');
    background-position: 0 0;
    background-attachment: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ambit';
}

:root {
    --red: #D43361;
    --black: #2c2d37;
    --green: #81D742;
}


/* spacing */
.mt-5 {
    margin-top: 5%;
}

.mt-3 {
    margin-top: 3%;
}

.mt-4 {
    margin-top: 4%;
}

.pt-5 {
    padding-top: 5%;
}

.pt-3 {
    padding-top: 3%;
}

.pt-4 {
    padding-top: 4%;
}

/* layout */

.width_70 {
    width: 70%;
}

.flex_form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.container {
    max-width: 85vw;
    margin: 0% auto;
    display: block;
}

.contain {
    padding: 0% 3rem;
}

/* grid */
.grid_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.grid_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.grid_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid_3 img, .grid_4 img {
    width: 100%;
    height: 100%;
}

.grid_5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.grid_2 img, .grid_4 img {
    height: 100%;
    width: 100%;
}

/* spacing */
.mt-5 {
    margin-top: 5%;
}

.pt-5 {
    padding-top: 5%;
}

/* buttons */

.btn_red {
    background: var(--red);
    padding: 10px 25px;
    color: #fff;
    border: 1px solid var(--red);
    font-size: 1.4rem;
    cursor: pointer;
}

.btn_green {
    background: var(--green);
    padding: 8px 25px;
    color: #222;
    border: 1px solid var(--green);
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 2px;
}

.btn_black, .btn_border_black {
    border: 1px solid var(--black);
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 8px 25px;
    color: var(--black);
    background: var(--black);
}

.btn_border_black {
    background: transparent;
}

.form_flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.errorMessage {
    font-size: 1.2rem;
    margin-bottom: 0px;
    color: var(--red);
}

.error-message {
    font-size: 1.4rem;
    color: var(--red);
}

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

.filter .ant-select-selector {
    padding-left: 40px !important;
    font-size: 1.3rem;
}

.ant-drawer-header {
    display: none;
}

.ant-drawer-body {
    padding: 0px;
}

.new-cart-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 5px;
}

.new-cart-header h2 {
    margin-bottom: 0px;
}

@media screen and (max-width: 720px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .contain {
        padding: 0% 3%;
    }

    .ant-drawer-content-wrapper {
        width: 100% !important;
    }

    .mt-5 {
        margin-top: 15%;
    }

    .ant-tabs-tab {
        background-color: #fff !important;
        border: 1px solid #d9d9d9 !important;
    }

    .ant-tabs-nav .ant-tabs-tab-active,
    div>.ant-tabs-nav .ant-tabs-tab-active {
        background: red;
        color: #fff !important;
    }
    .ant-input {
        background: #f5f4f1;
    }
    /* .ant-tabs-nav {
        border-bottom: 1px solid #d9d9d9;
    } */
}