.sec_navigation {
    background: #2F3337;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1.5rem;
}

.sec_navigation ul, .sec_navigation p {
    margin: 0%;
    padding: 0%;
}

.sec_navigation ul li {
    padding-right: 15px;
    display: inline-block;
}

.sec_navigation ul li:last-child {
    padding-right: 0px;
}

.sec_navigation ul li a, .sec_navigation p, .sec_navigation ul li {
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}

.ant-collapse-header-text {
    font-family: Ambit;
    font-size: 1.6rem;
}

.ant-collapse-ghost>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
    padding-bottom: 12px;
    padding-top: 12px;
}

.ant-collapse-content>.ant-collapse-content-box {
    padding: 16px;
}

.faqs .container .ant-collapse-icon-position-end>.ant-collapse-item>.ant-collapse-header {
    border-bottom: 1px solid #dadae2;
    padding: 20px 0;
}

.navigation {
    /* background: #000;
    background: #fff; */
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .2);
    position: relative;
    z-index: 100;
}

.sec.navigation {
    background: #000;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.navigation .inner-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 35px;
}

.navigation img.logo {
    height: 5rem;
    width: auto;
}

.navigation.fixed {
    /* background: #fff;
    background: #000; */
    background-image: url('../assets/images/homepage/body-bg.webp');
    top: 0%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, .2);
}

.navigation ul li.style-me {
    background: var(--green);
    padding: 10px 25px;
    border: 1px solid var(--green);
    color: #fff;
    font-size: 1.4rem;
    border-radius: 3px;
}

/* .navigation {
    border-bottom: 1px #EFF0F6 solid;
} */

.navigation ul {
    margin: 0%;
    padding: 0%;
}

.navigation ul li {
    display: inline-block;
    padding-right: 15px;
}

.navigation ul li a {
    font-size: 1.4rem;
    color: #000;
}

.sec.navigation ul li a {
    color: #EFF0F6;
}

.sec.navigation ul li.style-me a {
    color: #000;
}

.navigation.fixed ul li a {
    font-size: 1.4rem;
    color: var(--black);
}


/* footer */
.footer {
    padding: 4% 0;
    background: #000;
    background: #222222;
}

.footer .biased_grid_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}



.footer p, .footer ul li a, .footer a {
    color: #cccccc;
    line-height: 2.1;
    font-size: 1.3rem;
    /* font-family: 'DM Sans', sans-serif; */
}

.footer ul li {
    margin-bottom: 5px;
    list-style: none;
}

.footer h5 {
    color: #fff;
    font-size: 1.4rem;
    /* font-family: 'DM Sans', sans-serif; */
}

.footer h3 {
    font-size: 1.4rem;
    color: #fff;
    /* font-family: 'DM Sans', sans-serif; */
}

.footer ion-icon {
    color: #cccccc;
    font-size: 20px;
    margin-right: 10px;
}

.footer ul li:last-child, .footer p {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footer.margin {
    margin-top: 5%;
}

.sec_footer {
    margin-top: 5%;
}

.sec_footer ul {
    margin: 0%;
}

.sec_footer ul li {
    display: inline-block;
    padding-right: 10px;
    margin-bottom: 0px;
}

.sec_footer input {
    background: transparent;
    height: 4.5rem;
    color: #cccccc;
    /* font-family: 'DM Sans', sans-serif; */
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #cccccc;
}

.sec_footer form {
    width: 80%;
}

.sec_footer form div {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
}

.sec_footer .grid_flex {
    align-items: center;
}

.sec_footer button {
    background: var(--red);
    border: 1px solid var(--red);
    color: #cccccc;
    border-radius: 3px;
    border-radius: 0px 4px 4px 0px;
    font-size: 1.2rem;
}

.sec_footer_block {
    flex: 1;
}

.sec_footer .sec_footer_block div {
    text-align: end;
}

.sec_footer .sec_footer_block ul li:last-child {
    padding-right: 0px;
}

@media screen and (max-width:720px) {
    .footer .biased_grid_4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .footer .sec_footer .grid_flex {
        display: flex;
        flex-direction: column;
        margin-top: 15%;
    }

    .sec_footer .sec_footer_block div {
        text-align: left;
    }

    .footer {
        padding-top: 15%;
    }

    .navigation {
        padding: 8px 15px;
    }

    .navigation img.logo {
        height: 4.7rem;
    }

    .navigation .mobile-only ul {
        display: flex;
        grid-gap: 30px;
    }

    .navigation .mobile-only ul li {
        padding-right: 0%;
    }

    .navigation .mobile-only svg {
        height: 4rem;
        display: block;
    }

    /* .navigation.fixed .mobile-only svg.cart path,
    .navigation.fixed .mobile-only svg.cart circle {
        stroke: #fff;
    }

    .navigation.fixed .mobile-only svg.menu path {
        fill: #fff;
    } */

    .drawer-nav-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: .1px solid #b3b3b3;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 30px;
        padding-left: 10px;
    }

    .drawer-nav-block img.nav-logo {
        width: auto;
        height: 5rem;
    }

    .drawer-nav-block img {
        width: auto;
        height: 4rem;
    }

    .nav-drawer .ant-drawer-body {
        padding: 0px;
    }

    .nav-drawer ul li a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--black);
        font-weight: bolder;
        font-size: 1.3rem;
    }

    .nav-drawer ul li {
        list-style: none;
        line-height: 2.2;
        margin-bottom: 15px;
        border-bottom: .1px solid #b3b3b3;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-drawer ul li ion-icon {
        font-size: 2rem;
        color: var(--black);
    }

    .nav-drawer ul li ion-icon.white {
        color: #fff;
    }

    .footer.margin {
        margin-top: 15%;
    }

    .nav-drawer .ant-drawer-body {
        background: #000;
    }

    .nav-drawer .ant-drawer-body ul li a {
        color: #EFF0F6;
    }

    /* .navigation.fixed {
        background: #fff;
    } */

    .footer-sec.footer .footer-grid .biased_grid_4 {
        display: block;
    }

    .footer-sec.footer .footer-grid .biased_grid_4 div.compartment {
        padding: 25px 0px;
        padding-bottom: 5px;
        border-top: 1px solid #b3b3b3;
    }

    .footer-sec.footer .footer-grid .biased_grid_4 div.compartment.last {
        border-bottom: 1px solid #b3b3b3;
    }

    .footer-sec.footer .contain {
        padding: 0px;
        width: 100%;
    }

    .footer-sec.footer .sec_footer .contain {
        padding: 0% 3%;
    }

    .footer-sec.footer h5 {
        margin-bottom: 0%;
        padding-left: 1.5%;
    }

    .footer-sec.footer .footer-grid ul {
        display: none;
    }
    .footer-sec.footer {
        padding-top: 15%;
    }

    .sec_footer form {
        width: 100%;
    }

    .sec_footer .grid_flex {
        grid-gap: 20px;
    }

    .sec_footer .grid_flex .sec_footer_block {
        width: 100%;
    }
}